<a href="https://colab.research.google.com/github/sonhn-dev/ocb_fx/blob/main/notebook/ocb_fx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 4.2 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.3.2

In [21]:
import numpy as np
import pandas as pd
from unidecode import unidecode

In [2]:
!git clone https://github.com/sonhn-dev/ocb_fx

Cloning into 'ocb_fx'...
remote: Enumerating objects: 90, done.
remote: Counting objects: 100% (90/90), done.
remote: Compressing objects: 100% (82/82), done.
remote: Total 90 (delta 37), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (90/90), done.

In [4]:
from ocb_fx.utils import *

In [ ]:
df = to_structured_data(load_files('ocb_fx/data'))
df.to_csv('data.csv')

In [18]:
df = pd.read_csv('data.csv', index_col=0)
df.head()

         date  ...                                               text
0  2021-11-12  ...  Good morning anh/chị. VBMA xin gửi swap date t...
1  2021-11-12  ...                                    sell VPB ON nhé
2  2021-11-12  ...                                          done a vũ
3  2021-11-12  ...                                         sell VP ON
4  2021-11-12  ...                                      offer 1m 0.78

[5 rows x 5 columns]

In [19]:
drop = ['Vietnam Bond Market Association',
        'vbma.org.vn']
df = df[~df['bank'].isin(drop)].reset_index(drop=True)
df

           date              trader  ...      time                    text
0    2021-11-12          Vu Ha Tuan  ...  09:00:17         sell VPB ON nhé
1    2021-11-12    Trung Nguyen Duy  ...  09:00:23               done a vũ
2    2021-11-12    Kien Nguyen Khac  ...  09:00:26              sell VP ON
3    2021-11-12      Nguyen Ngoc Ha  ...  09:00:26           offer 1m 0.78
4    2021-11-12          Vu Ha Tuan  ...  09:00:27                50u nhé
..          ...                 ...  ...       ...                     ...
907  2021-11-19  Thao Pham Thi Ngoc  ...  14:10:01  chị quote tod đó QA ơi
908  2021-11-19         Do Quoc Anh  ...  14:10:08  éc. dạ vậy nothing chị
909  2021-11-19  Thao Pham Thi Ngoc  ...  14:10:21        ok e nothing nhé
910  2021-11-19          Dat Le Tat  ...  14:11:05      done Quốc Anh nhé
911  2021-11-19         Do Quoc Anh  ...  14:11:18                  vâng a

[912 rows x 5 columns]

In [24]:
text = df['text'].str.strip().str.lower().apply(lambda s: unidecode(s))
text

0             sell vpb on nhe
1                   done a vu
2                  sell vp on
3               offer 1m 0.78
4                     50u nhe
                ...
907    chi quote tod do qa oi
908    ec. da vay nothing chi
909          ok e nothing nhe
910         done quoc anh nhe
911                    vang a
Name: text, Length: 912, dtype: object